.burger-button {
    display: none;

    width: 44px;
    height: 44px;

    border: 1px solid $border-dark;
    border-radius: 50%;

    cursor: pointer;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 6px;

        transition: 0.5s ease;

        &.burger-button--opened {
            gap: 0px;

            transform: rotate(180deg);

            > .burger-button__decor:nth-child(1) {
                transform: translateY(1px) rotate(-45deg);
            }

            > .burger-button__decor:nth-child(2) {
                transform: rotate(45deg);
            }
        }
    }
}
.burger-button__decor {
    display: block;
    height: 1px;
    width: 16px;
    background-color: $border-dark;

    border-radius: 100px;

    transition: 0.3s ease;
}
