.button--primary {
    padding: 20px 78px 20px 78px;

    background-color: $body-color;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    @include clickable-els-text;

    > .button-text {
        transform: translateX(14px);
        transition: 0.5s ease;
    }

    > .button__icon {
        transform: scale(0);
        transition: 0.5s ease;
    }

    @media (hover: hover) {
        &:hover {
            > .button__icon {
                transform: scale(1);
            }

            > .button-text {
                transform: translateX(0);
            }
        }
    }
}
