.modal {
    transform: (scale(0));
    opacity: 0;

    position: fixed;
    background-color: $backdrop-color;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
    transition: scale 0.5s ease, opacity 0.5s ease;

    &.modal--visible {
        transform: scale(1);
        opacity: 1;
        transition: scale 0.5s ease, opacity 0.5s ease;
    }
}
.modal-window {
    background-color: $body-color;
    padding: 16px 16px 16px 16px;
    border-radius: 40px;
    display: flex;
    gap: 20px;
    align-items: start;
}
.modal__img-box {
    width: 310px;
    aspect-ratio: 1;
    border-radius: 40px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (hover: hover) {
        &:hover .modal__img {
            transform: scale(0.92);
        }
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}
.modal__img {
    max-width: 340px;
    aspect-ratio: 1;

    transition: 0.5s ease;
}
.modal__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    max-width: 438px;

    @media screen and (max-width: 880px) {
        max-width: 326px;
    }

    @media screen and (max-width: 425px) {
        max-width: 310px;
    }
}

.modal__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.info__title {
    @extend %h3;
}
.info__descr {
    @extend %medium-text;
}
.modal__controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.controls__title {
    @extend %medium-text;
}

.modal__price {
    display: flex;
    justify-content: space-between;
}
.price__title {
    @extend %h3;
}
.price__value {
    @extend %h3;
}
.modal__disclaimer {
    border-top: 1px solid $border-light;
    padding: 12px 0 12px 0;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.disclaimer__text {
    @extend %caption-text;
}
.modal__close-button {
    width: 100%;
    border-radius: 100px;
    border: 1px solid $border-dark;
    padding: 10px 10px 10px 10px;

    transition: 0.3s ease;
    cursor: pointer;

    @extend %clickable-els-text;

    @media (hover: hover) {
        &:hover {
            background-color: $container-color;
            color: $body-color;
        }
    }
}
