.title-h1 {
    @include h1;
}

.menu__title-h1 {
    text-align: center;
    color: $text-dark;
}

.title-h2 {
    @include h2;
    color: $text-dark;
}
.footer__title-h2 {
    color: $text-light;
}

.favorite-coffee__title-h2 {
    text-align: center;
}

.about__title-h2 {
    word-spacing: -1px;
}

.accent-text {
    @include accent-text;
}

.title-h3 {
    @include h3;
}
.footer__title-h3 {
    color: $text-light;
}
