.about {
    padding: 100px 0 0 0;
}

.image-board {
    padding: 40px 0 0 0;
    display: flex;
    gap: 40px;
}
.image-board__left-side,
.image-board__right-side {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.image-board__image-container--big {
    max-width: 660px;
    aspect-ratio: calc(660px / 590px);

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    > img {
        max-width: 115%;
        aspect-ratio: 1;
        transition: 0.5s ease;
    }

    @media (hover: hover) {
        &:hover > img {
            transform: scale(0.92);
        }
    }
}
.image-board__image-container--small {
    max-width: 660px;
    aspect-ratio: calc(660px / 430px);

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    > img {
        max-width: 115%;
        aspect-ratio: 1;
        transition: 0.5s ease;
    }

    @media (hover: hover) {
        &:hover > img {
            transform: scale(0.92);
        }
    }
}
