.footer {
    padding: 100px 0 40px 0;
}
.footer__content {
    background-color: $container-color;
    padding: 100px 100px 100px 100px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__title-socials {
    flex: 0 0 530px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.footer__socials {
    display: flex;
    gap: 12px;
}
.footer__socials-link {
    width: 60px;
    height: 60px;
    border: 1px solid $border-light;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s ease;

    @media (hover: hover) {
        &:hover {
            background-color: $body-color;
        }
        &:hover > svg > path {
            stroke: $border-dark;
        }
    }
}

.footer__contacts {
    flex: 0 0 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer__contacts-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__contacts-item {
    display: inline-block;
}
.footer__contacts-link {
    position: relative;
    &:after {
        content: '';
        position: absolute;

        height: 2px;
        width: 100%;
        background-color: $border-light;
        bottom: -8px;
        left: 0;

        transform: scaleX(0);
        transform-origin: left;
        transition: 0.5s ease;
    }

    @media (hover: hover) {
        &:hover {
            &:after {
                transform: scaleX(1);
            }
            > .footer__contacts-icon {
                animation: 'icon-shaker' 0.7s ease;
            }
        }
    }
}
.footer__contacts-icon {
    padding: 0 8px 0 0;
}
.footer__contacts-text {
    @include clickable-els-text;
    color: $text-light;
}
