.mobile-app {
    padding: 100px 0 0 0;
}

.mobile-app__box {
    display: flex;
    justify-content: space-between;
}
.mobile-app__download {
    flex: 0 0 630px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.mobile-app__description {
    @include medium-text;
    color: $text-dark;
}
.mobile-app__download-buttons {
    display: flex;
    gap: 20px;
}
.mobile-app__download-button {
    border-radius: 100px;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            background-color: $container-color;
            > svg > path {
                fill: $body-color;
            }
        }
    }
}
.mobile-app__image {
    flex: 0 1 630px;
}
.mobile-app__img {
    max-width: 100%;
}
