// TEXT
$text-dark: #403f3d;
$text-light: #e1d4c9;
$text-accent: #b0907a;

// BACKGROUND
$body-color: #e1d4c9;
$container-color: #665f55;
$backdrop-color: rgba(64, 63, 61, 0.8);

// BORDER
$border-light: #c1b6ad;
$border-dark: #665f55;
